body{
    background-color: blue;
}
.container{
    margin: 0 auto;
    width: 1000px;
    height: 500px;
    background-color: #E0F021;
    border-radius: 20px;
    display: flex;
    margin-top: 100px;
    flex-wrap: wrap;
   
    
}
box{
    background-color: black;
    width: 400px;
    height: 100x;
    display: block;
    margin:  15px;
    justify-content: center;
    
}
h1{
    color: white;
    background-color: red;
    text-align: center;
    margin: 48px;
    padding:16px ;
    border: black solid 30px;
    flex-wrap: wrap;
}
.box{
    flex-wrap: wrap;
}